.HomePage-title {
    display: flex;
    justify-content: center;
    font-size: 6vh;
    flex-wrap: wrap;
    padding-left: 5vw;
}

.HomePage-body {
 margin-left: 1vw;
}

.HomePage-columnNames {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1vw;
}